.friends__list{
	display: flex;
	flex-wrap: wrap;
	gap: 16px;
      justify-content: center;
	margin-left: auto;
	margin-right: auto;
}

.friends__item{
	min-width: 100px;
	border: 1px solid rgba(49, 48, 48, 0.774);
	border-radius: 10px;
	background-color: rgb(223, 201, 243);
	padding: 16px;
	
}




