.friends__list{
	display: flex;
      justify-content: center;
}

.friends__item{
	min-width: 100px;
	border: 1px solid rgba(49, 48, 48, 0.774);
	border-radius: 10px;
	background-color: rgb(223, 201, 243);
	padding: 24px;
	margin-right: 24px;
}

.friends__item:last-child{
	margin-right: 0px;
}


